.footer {
	background: #353535;
	padding-top: 20px;
	padding-bottom: 25px;
	margin-top: 50px;
}
.footer a {
	display: block;
	color: #5093cd;
	text-decoration: underline;
	margin-bottom: 4px;
}
.footer__title {
	font-size: 24px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 24px;
	margin-top: 20px;
}
.footer__text {
	font-size: 20px;
	color: #fff;
	margin-bottom: 20px
}
.footer__social-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer__social-wrapper {
	width: 136px;
	margin-top: 20px;
}
.footer__social-wrapper img{
	width: 40px;
	height: 40px;

}
.footer form {
	width: 100%;
	height: 40px; 
	background: #4f4f4f;
	border-radius: 4px;
	padding: 2px;
	position: 
	relative;
}
.footer__form input[type="submit"] {
	min-width: 66px;
	height: 100%;
	text-transform: uppercase;
	color: #353535;
	background: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
	height: 36px;
	right: 2px;
	top: 2px;
}

.footer__form input[type="text"] {
	background: transparent;
	border: none;
	width: 100%;
	padding-left: 17px;
	color: #fff;
	padding-top: 7px;
	padding-bottom: 7px;
}
.copy-info {
	padding-top: 14px; 
	border-top: 1px dotted #686868;
	color:  #686868;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 30px;
	
}
.footer__pay-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer__pay-wrap img {
	margin-left: 10px;
}
.footer__ssl {
	padding: 0 10px;
}
.trustpilot-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   }
