body {
	margin: 0;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #4d4d4d;	
} 

ul {
	padding-left: 0;
	list-style: none;
}	
a {
	text-decoration: none;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 16px;
} 	
input {
	outline: none;
}
h1,
h2 {
	margin: 0;
}
/*---- start bread crambs style ----*/
.bread-crumbs {
	padding: 30px 0;
	font-weight: 500;
}
.bread-crumbs__title {	
	padding-right: 8px;
}
.bread-crambs__link {
	color: #2e82d1;
	text-decoration: underline;	
}
.bread-crumbs__link-wrapper {
	padding-right: 16px;
	position: relative;
}
.bread-crumbs__link-wrapper:after {
	content: '>';
	position: absolute;
	right: 6px;
	top: -1px;
	color: #4d4d4d;
	text-decoration: none;
}

/*---- end bread crambs style ----*/

/*---- start checkbox style ----*/
.checkbox-label {
	height: 12px;
	width: 12px;
	background: #e1e1e1;
	display: block;
	border-radius: 2px;
	cursor: pointer;
	border: 2px solid #e1e1e1;
}
.checkbox {
	display: none;
}
.checkbox:checked + .checkbox-label {
	background: #1ea199;
	position: relative;
	border: 2px solid #1ea199;
}
.checkbox:checked + .checkbox-label:before {
	content: url('../img/global-images/check-s.png');
	position: absolute;
	top: -9.8px;
	left: 0.5px;
	width: 8px;
	height: 7px;

}

/*---- end checkbox style ----*/

.page-pagination{
	margin: 10px auto;
	display: block;
	text-align: center;
	margin-top: 20px;
}
.page-pagination__prev,
.page-pagination__next {
	display: inline-block;
	color: #4d4d4d;
}
.page-pagination__prev {
	padding-right: 18px;
}
.page-pagination__prev span {
	margin-left: 12px;
	display: inline-block;
}
.page-pagination__next span {
	margin-right: 12px;
	display: inline-block;
}
.page-pagination__next {
	padding-left: 18px;
}
.page-pagination__link {
	padding: 8px 4px;
	color: #4d4d4d;
	text-decoration: underline;
}
.page-pagination__link.active {
	background: #d93d88;
	padding: 8px 7px;
	border-radius: 4px;
	color: #fff;
	text-decoration: none;
}
.page-pagination__all-pages {
	margin-left: 20px;
	text-decoration: underline;
	color: #4d4d4d;
}

/*---- start radio style ----*/
.radio-label {
	height: 12px;
	width: 12px;

	background: #e1e1e1;
	display: block;
	border-radius: 50%;
	cursor: pointer;
	border: 2px solid #e1e1e1;
}
.radio {
	display: none;
}
.radio:checked + .radio-label {
	
	position: relative;
	border: 4px solid #1ea199;
}
.radio:checked + .radio-label:before {
	content: '';
	position: absolute;
	top: -9.8px;
	left: 0.5px;
	width: 8px;
	height: 7px;

}

/*---- end radio style ----*/

/*----------start search popup--------*/
.header__popular-search {
	background: #fff;
	width: 100%;
	position: absolute;
	top: 44px;
	left: 0;
	z-index: 9999;
	padding: 10px 10px;
	border-radius: 4px;
	display: none;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
	        box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}
.header__popular-search.active {
	display: block;
}
.header__search {
	position: relative;

}
.popular-search-title {
	font-size: 20px;
	font-weight: 700;
	padding: 10px 0;
	border-bottom: 1px solid #4d4d4d;
	margin-bottom: 10px;	
}
.search-resalt {
	text-decoration: underline;
}
.popular-search-content {
	padding-left: 10px;
}
.popular-search-product img {
	max-width: 50px;
	margin-right: 10px
}
.popular-search-product {
	display: flex;
	align-items: center;
}
/*----------end search popup--------*/